.App{
	display:flex;
	flex-direction:row;
	justify-content:center;
    margin-top:10%;
}

.form-popup {
  display: none;
  margin-top:10%;
  border: 3px solid #f1f1f1;
  z-index: 9;
  margin-right:auto;
  margin-left:auto;
  text-align:center;
}

.btnAdd {
  display:block;  
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 250px;
  margin-bottom:10px;
  margin-top:10px;
   margin-right:auto;
  margin-left:auto;
  opacity: 0.8;
}
.btnCancel{
  display:block;
  background-color: red;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 250px;
  margin-bottom:10px;
  margin-top:10px;
  margin-right:auto;
  margin-left:auto;
  
  opacity: 0.8;
}

.btnAddFaltas{

  display:block;
  background-color: blue;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 150px;
  margin-bottom:10px;
  margin-top:10px;
  margin-right:auto;
  margin-left:auto;
  opacity: 0.8;
}
.addDisciplina{
display:block;
  background-color: blue;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 250px;
  margin-bottom:10px;
   margin-right:auto;
  margin-left:auto;
  opacity: 0.8;

}

.form-container{
    margin-left: auto;
    margin-right: auto;
}
.form-container input[type=text],input[type=number]{
  display:block;
  width: 400px;
  padding: 15px;
  margin-right:auto;
  margin-left:auto;
  border: solid lightblue;
  background: #f1f1f1;
}

.DisciplinesDisplay{
    display:flex;
    flex-direction:row;
    padding:15px;
    margin-right:auto;
  margin-left:auto;

}

.DPFlex,.faltasFlex,.ProfFlex,.addFaltasFlex{
     display:flex;
     flex-direction:column;
     margin:15px;
       
}

.DIVIDER{
    width:200px;
}