.App{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr;
    align-items: center;
    align-content: center;
}
.navbar{
    color:lightblue;
    height:100px;
    z-index:10;
    position:fixed;
}

.site-calendar-demo-card {
  width: auto;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  grid-column:2/3;
  grid-row-start:1;


}
.calendar-demo{
    width:auto;
}
.graph-demo{
height:300px;
grid-column:1/2;
grid-row-start:1;
}

.events {
  list-style: none;
  margin: 0;
  padding: 0;
}
.events .ant-badge-status {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  font-size: 12px;
}
.notes-month {
  text-align: center;
  font-size: 28px;
}
.notes-month section {
  font-size: 28px;
}